@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryDark: #000000;
  --primaryLight: #52057b;
  --secondaryDark: #892cdc;
  --secondaryLight: #bc6ff1;
  --secondaryExtraLight: #ead1fa;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
